@import './menu-modal/comments-modal';

$menu-background:rgba(35, 31, 32, 1);
$share-width: 100%;
$share-heigth: 50%;

.menu {
    position: fixed;
    z-index: 100;
    height: 109px;
    width: 100%;
    bottom: 0;
    background-color: $menu-background;
        .menu__container {
        display: flex;
        flex-direction: column-reverse;
        height: inherit;
            .menu__btnClose { // in vertical menu
                display: none;
            }
            .menu__logoTz {  // in vertical menu
                display: none;
            }
            .menu__letterTz {
                display: flex;
                align-self: center;
                position: relative;
                overflow: hidden;
                width: 137px;
                height: 50%;
                    img {
                        position:absolute;
                        bottom:-20px;
                        width: 100%;
                        height: 150%;
                    }
            }
            .menu__nav {
                display: flex;
                flex-direction: row;
                width: $share-width;
                height: 50%;
                    li:nth-child(1) {
                        width: 70%;
                        display: flex;
                        align-items: center;
                        background: rgba(221, 226, 255, 0.205);
                        a {
                            display:block;
                            }
                        img {
                            margin-right: 4%;
                        }
                    }
                    li {
                        display: flex;
                        justify-content: center;
                        width: 30%;
                        font-family: 'Mulish', sans-serif;
                        font-size: 1.6rem;
                        font-weight: lighter;
                        letter-spacing: 0.2px;
                        color: #DDE2FF;
                        padding-bottom: 3%;
                            img {
                                width: 16px;
                            }
                            a {
                                display: none; // only in vertical menu
                            }
                    }
            }
    }
}
/*
* since 499px the menu must be vertical
*/
@media screen and(min-width:499px) {
    .menu {
        position: absolute;
        top: 0;
        left: -275px;
        width: 275px;
        height: 100%;
        padding-top: 2%;
        transition-duration:  1s;
            .menu__container {
                display: flex;
                flex-direction: column;
                height: 100%;
                padding: 42px 0;
                    .menu__btnClose {
                        display: block;
                        position: absolute;
                        top: 4%;
                        right: 8%;
                        width: 15px;
                        //background-color: lavenderblush;
                    }
                    .menu__logoTz {
                        display: block;
                        height: 120px;
                        width: 120px;
                        align-self: center;
                        margin-bottom: 14px;
                            img {
                                width: 100%;
                                height: 100%;
                            }
                    }
                    .menu__nav {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        width: 100%;
                        height: 270px;
                        margin-bottom: 85px;
                            li:nth-child(1){
                                width: 100%;
                                display: flex;
                                align-items: center;
                                background: rgba(221, 226, 255, 0.205);
                            }
                            li:nth-child(2) {
                                display: none;

                            }
                            li:hover {
                                background: rgba(221, 226, 255, 0.205);
                            }
                            li {
                                width: inherit;
                                height: 59px;
                                justify-content: start;
                                align-items: center;
                                padding-left: 35px;
                                    img {
                                        margin-right: 6%;
                                    }
                                    .nav__li1 img {
                                        margin-right: 6%;
                                    }
                                    a {
                                        display: block;
                                    }
                            }
                    }
                    .menu__letterTz {
                        width: 163px;
                        height: 87px;
                    }
            }
    }
}
@media screen and(min-width:1024px) {
    .menu {
        left: 0;
        .menu__container {
            .menu__btnClose {
                display: none;
            }
        }
    }
}