.blackboard__userInfo{
    display: flex;

    h1 {
        width: 80%;
        margin: 0 auto;
        font-family: 'Mulish', sans-serif;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        text-align: center;
        color: #252733;
    }
    .userInfo__propertyLink {
        display: none;
    // propertyLinkContainer is block to desktop
    }
}
@media screen and (min-width:767px) { // vertical menu show property link
    .blackboard__userInfo {
        display: flex;
        flex-direction: column;
        margin: 13px ;
        margin-left: 65px;
        padding-right: 20px;

        h1 {
            width: 100%;
            text-align: left;
            padding-left: 15px;
        }
        .userInfo__propertyLink {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-top: 20px;
            font-size: 1.4rem;
            font-weight: bold;
            color: rgba(108, 109, 112, 1);
            a {
                color: rgb(134, 171, 206);
                margin-bottom: 15px;
                text-decoration: none;
            }
            div {
                width: 110px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                i{
                    width: 23%;
                    font-size: 20px;
                    cursor: pointer;
                    }
                }
        }
    }
}

