.blackboard__userInfo{
    display: flex;

    h1 {
        width: 80%;
        margin: 0 auto;
        font-family: 'Mulish', sans-serif;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2.6rem;
        color: #252733;
    }
    .userInfo__propertyLink {
        display:none;
    // propertyLinkContainer is block to desktop
    }
}
@media screen and (min-width:499px) { // vertical menu show property link
    .blackboard__userInfo {
        display: flex;
        flex-direction: column;
        margin: 13px ;
        margin-left: 65px;
        padding-right: 20px;

        h1 {
            width: 100%;
            margin-bottom: 12px;
        }
        .userInfo__propertyLink {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            font-size: 1.4rem;
            font-weight: bold;
            color: rgba(108, 109, 112, 1);
            div {
                width: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                img{
                    width: 100%;
                    }
                }
        }
    }
}

