.boardView__container {
    position: relative;
    height: auto;
    min-width: 300px;
    padding: 60px 5rem;
    font-size: 1.8rem;
    line-height: 4.4rem;
    .boardView__image {
        max-width: 400px;
        margin:auto;
        img {
            width: 100%;
            height: auto;
        }
    }
    .boardView__description {
        display: flex;
        flex-direction: column;
        h2 {
            margin: 30px 0;
            font-size: 2.4rem;
            font-weight: bold;
            color:black;
        }
        li {
            font-weight: bold;
            span {
                font-weight: 400;
            }
        }
    }
}


@media screen and(min-width:499px) {
    .boardView__container {
        padding: 80px 4rem;
    }
}
@media screen and(min-width:767px) {
    .boardView__container {
        padding: 80px 9rem;
    }
}
@media screen and(min-width:1024px) {
    .boardView__container  {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 0;
        padding: 3rem 0 4.5rem 3rem ;
    }
    .boardView__description {
        width: 50%;
    }
    .boardView__description h2 {
        font-size: 3.6rem;
    }
    .boardView__image {
        margin: auto 0;
        width: 50%;
    }
}
@media screen and(min-width:1200px) {
    .boardView__description {
        width: 60%;
       
    }
    .boardView__image {
        width: 40%;
    }
}