
@use'./components-dash/blackBoardViews';
@use './components-dash/componentsInCell/progressStatusBarCell';
@use './components-dash/componentsInCell/btnsChangeViewsToCell';
@use './components-dash/components/progressStatusBar';
@use './components-dash/components/userInfo';

@use './components-dash/components/menu';

// *Hidden elements from mobile first* //
    // #btnOpenMenu only in vertical menu
#btnOpenMenu {
    display:none;
}
//   *Elements styles from mobile* //
.dash__container {
    position: relative;
    width: 100vw;
    height: auto;
    min-width: 290px;
    max-width: 1500px;
    padding-top: 50px;
    padding-bottom: 120px;
    background-color:#E5E5E5;
}
.blackboard {
    width: 100%;
    border: 1px solid #d0d0d3;
    border-radius: .5rem ;
    background-color: #FFFFFF;
}

//   * media 499px change menu horizontal to vertical * //

@media screen and (min-width:499px) {
    #btnOpenMenu {
        display: block;
        position: absolute;
        top: 33px;
        left: 20px;
        width: 40px;
    }
    .dash__container {
        padding-bottom: 70px;
    }
}
@media screen and (min-width:767px) {
    .blackboard {
        width: 93%;
        margin: 0 auto;
    }
}
@media screen and (min-width:1024px) {
    #btnOpenMenu {
        visibility: hidden;
    }
    .dash__container {
        padding-left: 275px;
    }
    .blackboard {
        width: 98%;
        margin: 0 auto;
        overflow-x: hidden;
    }
}

