$menu-background:rgba(35, 31, 32, 1);
$share-width: 100%;
$share-heigth: 50%;
.header {
    background-color: $menu-background;
    width: 100%;
    min-width: 222px;
    height: 100px;
    position: relative;
    position: fixed;
    top: 83vh;
    z-index: 100;
}
.menu {
    height: inherit;
    display: flex;
    flex-direction: column-reverse;

    .menu__containerLogoTz {
        display: none;
    }
    .menu__containerLogo {
        max-width: 140px;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-self: center;

        .menu__logo {
            width: 100%;
            height: 100%;
        }
    }
    .menu__nav {
        width: $share-width;
        height: 50px;
        padding-top: 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .nav__group1 > a , .nav__group2 > a , .nav__group3 > a , .nav__group4 > a {
            display: none;
        }
    }

}
// *** medias ***
@media screen and(min-width:667px) {

    .header{
        width: 250px;
        height: 100vh;
        padding-top: 2%;
        top: 0;
        left: 0;
        
    }
    .menu {
        
        height: 100%;
        display: flex;
        flex-direction: column;
    
        .menu__containerLogoTz {
            display: block;
            height: 17%;
            display: flex;
            justify-content: center;
            // background-color: rgba(245, 241, 35, 0.407);
            
            .menu__logoTz {
                width:auto;
                height:100%;
            }
        }
        
        .menu__nav {
            height: 45%;
            padding-top: 4%;
            flex-direction: column;
            align-items: flex-start;
            justify-content: start;
            // background-color: rgba(173, 216, 230, 0.448);
            
            .nav__group1 , .nav__group2 , .nav__group3  , .nav__group4 {
                // height: 78px;
                height: 20%;
                width: inherit;
                padding-left: 7%;
                margin-bottom: 1px;
                display: flex;
                align-items: center;

                // background-color: rgba(182, 53, 53, 0.461);

                
            }

            .nav__group1 > a , .nav__group2 > a , .nav__group3 > a , .nav__group4 > a { 
                display: inline-block;
                color: rgba(255, 255, 255, 0.653);
                font-family: sans-serif;
                font-weight: lighter;
                
            }
            .menu__icon {
                margin-right: 12px;
                
            }
            
        }
        .menu__containerLogo {
            height: 15%;
            max-width: 180px;
            margin: 20% 0;
            // background-color: blue;

        }
    
    }   

    

};
@media screen and(min-width:900px) {
   

};
@media screen and(min-width:1023px){
  

};

