/* colors */
/* Herencias */
.login {
  width: 100%;
  display: flex;
  max-width: 1450px;
}

.formLogin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15%;
  background-color: #000000;
}

.imgLogin__img {
  display: none;
}

.formLogin__div--grey {
  width: 100%;
  height: 18%;
  background-color: rgba(246, 235, 229, 0.5);
  margin-bottom: 30%;
}

.formLogin__h1 {
  color: #ffffff;
  font-size: 8vw;
  font-weight: lighter;
  margin-bottom: 15%;
}

.formLogin__input--id, .formLogin__input--pass {
  width: 80%;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 20px;
  border-style: none;
  height: 70px;
}

.formLogin__btn {
  width: 50%;
  height: 50px;
  background-color: #C9BCAC;
  color: #000000;
  border-style: none;
  border-radius: 5px;
  margin: 10% 0 8% 0;
}

.formLogin__paragraph {
  color: #ffffff;
  font-size: 4vw;
}

.formLogin__anchor {
  color: #ffffff;
}

@media only screen and (min-width: 600px) {
  .formLogin__input--id, .formLogin__input--pass {
    width: 70%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 20px;
    border-style: none;
  }

  .formLogin__h1 {
    font-size: 6vw;
  }

  .formLogin__btn {
    width: 35%;
  }

  .formLogin__div--grey {
    height: 14%;
  }
}
@media only screen and (min-width: 750px) {
  .formLogin__input--id, .formLogin__input--pass {
    width: 400px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 20px;
    border-style: none;
    height: 75px;
  }

  .formLogin__btn {
    width: 230px;
    height: 60px;
  }

  .formLogin__h1 {
    font-size: 40px;
  }

  .formLogin__paragraph {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1023px) {
  .formLogin__div--grey {
    margin-bottom: 20%;
  }

  .formLogin__h1 {
    margin-bottom: 10%;
  }
}
@media only screen and (min-width: 1200px) {
  .formLogin, .imgLogin {
    width: 50%;
  }

  .formLogin__div--grey {
    height: 7%;
    margin-bottom: 30%;
  }

  .imgLogin {
    position: relative;
    overflow: hidden;
    height: 100vh;
  }

  .imgLogin__img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .formLogin__input--id, .formLogin__input--pass {
    width: 530px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 20px;
    border-style: none;
    height: 65px;
    min-height: 65px;
  }

  .formLogin__btn {
    width: 280px;
    height: 50px;
    min-height: 50px;
    margin-bottom: 12%;
  }
}
.menu {
  position: relative;
  position: fixed;
  z-index: 100;
  height: 109px;
  width: 100%;
  min-width: 320px;
  max-width: 400px;
  top: calc(100vh - 109px);
  background-color: #231f20;
}

.container {
  flex-direction: column-reverse;
  height: inherit;
  display: flex;
}
.container .logoTz {
  display: none;
}
.container .letterLogo {
  display: flex;
  flex-direction: row;
  align-self: center;
  max-width: 110px;
  height: 70%;
}
.container .letterLogo .letterLogo__img {
  width: 100%;
  height: 100%;
}
.container .nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30%;
  margin-bottom: 10px;
}
.container .nav li {
  display: flex;
  width: 20%;
  background-color: lightcyan;
  font-size: 1rem;
}
.container .nav li img {
  width: 10px;
}
.container .nav li a {
  display: none;
}
.container .nav .nav__li1 {
  width: 38%;
  background-color: yellowgreen;
}
.container .nav .nav__li1 a {
  display: block;
}

/*
*a partir de los 400px el menu debe de ser vertical
*/
@media screen and (min-width: 400px) {
  .menu {
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    padding-top: 2%;
    transition-duration: 1s;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .menu__btn {
    right: 0;
    position: absolute;
    top: 15px;
    z-index: 100;
    width: 50px;
    height: 50px;
    background: transparent;
    border-style: none;
  }

  .menu__btn-icon {
    display: none;
  }

  .menu__btn:hover .menu__btn-icon {
    display: block;
    background-color: rgba(255, 255, 255, 0.201);
    width: 30px;
    transition: 1s ease-in-out;
  }

  .logoTz {
    display: block;
    display: flex;
    justify-content: center;
    height: 17%;
  }
  .logoTz logoTz__img {
    width: auto;
    height: 100%;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    height: 45%;
    padding-top: 4%;
    background-color: rgba(173, 216, 230, 0.448);
  }
  .nav .nav__li {
    display: flex;
    align-items: center;
    height: 20%;
    width: inherit;
    padding-left: 7%;
    margin-bottom: 1px;
  }
  .nav .nav__li > a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.653);
    font-family: sans-serif;
    font-weight: lighter;
  }
  .nav .nav_icon {
    margin-right: 12px;
  }

  .letterLogo {
    height: 15%;
    max-width: 180px;
    margin: 20% 0;
  }
}
/*
* .userInfo > div(share link)only desktop
*/
.userInfo > div {
  display: none;
}

/*
* .progressStatusBar since tablet 
*/
.progressStatusBar {
  display: none;
}

.btnOpenMenu {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.dashboard {
  width: 100vw;
  min-width: 290px;
  padding-bottom: 100px;
  background-color: #E5E5E5;
}

.dash__container {
  width: 100vw;
  min-width: 290px;
  padding-top: 50px;
  height: auto;
}

.userInfo {
  display: flex;
}

.userInfo h1 {
  width: 80%;
  margin: 0 auto;
  font-family: "Mulish", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #252733;
}

.blackboard {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  max-width: 900px;
  margin: auto;
  border: 1px solid #d0d0d3;
  border-radius: 0.5rem;
  overflow-x: scroll;
  scroll-behavior: contain;
  scroll-snap-type: x proximity;
  background-color: #FFFFFF;
}

.progressStatusBarCell {
  width: 90%;
  max-width: 450px;
  height: 23px;
  margin: 40px auto;
  margin-bottom: 25px;
  border-radius: 8px;
  border: 1px solid #d0d0d3;
}

.progressStatusBarCell__status {
  height: 21px;
  width: 70%;
  margin: 0 15%;
  border-left: 1px solid #d0d0d3;
  border-right: 1px solid #d0d0d3;
  border-radius: 8px;
  color: #9f9376;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  background-color: #f3ceca;
}

.btnsChangeViewsToCell {
  position: relative;
  top: -3px;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border-bottom: 1px solid #d0d0d3;
}

.btnsChangeViewsToCell button {
  height: 28px;
  width: 115px;
  padding: 20px;
  border: none;
  border-radius: 1px;
  background-color: #CAB98E;
}

@media screen and (min-width: 499px) {
  .dash__container {
    background-color: salmon;
  }

  .dashboard {
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 767px) {
  .dash__container {
    background-color: rgba(231, 216, 227, 0.87);
  }

  .blackboard {
    width: 95%;
  }

  .userInfo h1 {
    text-align: center;
    font-size: 3rem;
  }

  .progressStatusBarCell {
    display: none;
  }

  .progressStatusBar {
    display: block;
    display: flex;
    flex-direction: row;
    width: 98%;
    max-width: 900px;
    margin: 40px auto 30px auto;
    text-align: center;
  }

  .progressStatusBar > div {
    width: 38%;
    position: relative;
    z-index: 100;
  }

  .progressStatusBar div:nth-child(4) {
    width: 15%;
    left: -13px;
  }

  .progressStatusBar div:nth-child(2) {
    right: -10px;
    z-index: 2;
  }

  .progressStatusBar div:nth-child(1) {
    right: -18px;
    z-index: 1;
  }

  .progressStatusBar > div > span {
    color: #9FA2B4;
    font-size: 1.8rem;
  }

  .progressStatusBar > div > div {
    height: 30px;
    border-radius: 8px;
    border: 1px solid #d0d0d3;
    background-color: #d5e4e4;
  }

  .btnsChangeViewsToCell {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .dash__container {
    background-color: pink;
  }
}
.preparation__container {
  padding: 40px 5%;
  height: auto;
  margin-bottom: 100px;
  font-size: 1.8rem;
  line-height: 4rem;
  text-align: justify;
  position: relative;
  min-width: 300px;
  background-color: #cae25c;
  scroll-snap-align: center;
}

.preparation__image img {
  height: 100%;
  width: 100%;
}

.preparation__description h2 {
  text-align: center;
  margin: 30px 0;
  font-weight: bold;
}

.preparation__description {
  display: flex;
  flex-direction: column;
  padding: 0 18px;
}

.promoContainer {
  position: relative;
  padding: 60px 5rem;
  height: auto;
  min-width: 300px;
  font-size: 1.8rem;
  line-height: 4.4rem;
  scroll-snap-align: center;
}

.promoDescription {
  display: flex;
  flex-direction: column;
}

.promoImage {
  max-width: 500px;
  margin: auto;
}

.promoImage img {
  width: 100%;
  height: auto;
}

.promoDescription h2 {
  margin: 30px 0;
  font-size: 3.8rem;
  font-weight: bold;
  color: black;
}

li {
  font-weight: bold;
}

li span {
  font-weight: 400;
}

@media screen and (min-width: 499px) {
  .promoContainer {
    padding: 80px 4rem;
  }
}
@media screen and (min-width: 767px) {
  .promoContainer {
    padding: 80px 9rem;
  }
}
.tramite__container {
  padding: 40px 1rem;
  height: auto;
  margin-bottom: 100px;
  font-size: 1.8rem;
  line-height: 4rem;
  text-align: justify;
  position: relative;
  min-width: 300px;
  background-color: #5cb8e2;
  scroll-snap-align: center;
}

.tramite__image img {
  width: 100%;
  height: 100%;
}

.tramite__description h2 {
  text-align: center;
  margin: 30px 0;
  font-weight: bold;
}

.tramite__description {
  display: flex;
  flex-direction: column;
  padding: 0 18px;
}

.escritura__container {
  padding: 40px 1rem;
  height: auto;
  margin-bottom: 100px;
  font-size: 1.8rem;
  line-height: 4rem;
  text-align: justify;
  position: relative;
  min-width: 300px;
  background-color: #e25ccc;
  scroll-snap-align: center;
}

.escritura__image img {
  width: 100%;
  height: 100%;
}

.escritura__description h2 {
  text-align: center;
  margin: 30px 0;
  font-weight: bold;
}

.escritura__description {
  display: flex;
  flex-direction: column;
  padding: 0 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  background-color: black;
}

.is__active {
  left: -250px;
  transition-duration: 1s;
}

/*# sourceMappingURL=styles.css.map */
