@import './pages/views-dash/preparacion.scss';
@import './pages/dash.scss';
@import './pages/login.scss';
@import './menu.scss';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
}
.is__active {
    left: -250px;
    transition-duration:  1s;
}