@import './pages/login.scss';
@import './menu.scss';
@import './pages/dash.scss';
@import './pages/components-dash/views-dash/preparacion.scss';
@import './pages/components-dash/views-dash/promocion.scss';
@import './pages/components-dash/views-dash/tramite.scss';
@import './pages/components-dash/views-dash/escritura.scss';


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: black;

}
.is__active {
    left: -250px;
    transition-duration:  1s;
};
