// @import './pages/login.scss';
// @import './pages/dash.scss';
@use './pages/login';
@use './pages/dash';

// * font to html all document: font-family: 'Lato', sans-serif;
// * font to headlines and menu: font-family: 'Mulish', sans-serif;
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: black;
}
.openMenu {
    left: 0;
    transition-duration:  1s;
}
.hideBtn {
    opacity: 30%;
}
.showModal {
    visibility: visible;
}




