/* colors */
/* Herencias */
.login {
  width: 100vw;
  height: 100vh;
  max-width: 1450px;
}

.formLogin__Container {
  width: 100%;
  height: 100%;
}

.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 88%;
  max-width: 600px;
  height: 70vh;
  margin: 30px auto;
  background-color: #000000;
}

.imgLogin__Container {
  display: none;
}

.formLogin__div--grey {
  width: 100%;
  height: 55px;
  background-color: rgba(246, 235, 229, 0.5);
}

.formLogin__h1 {
  color: #ffffff;
  font-size: 6vw;
  font-weight: lighter;
  margin-bottom: 15%;
}

.formLogin__input--id, .formLogin__input--pass {
  width: 77%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 20px;
  border-style: none;
  height: 45px;
}

.formLogin__btn {
  width: 55%;
  height: 35px;
  background-color: #C9BCAC;
  color: #000000;
  border-style: none;
  border-radius: 5px;
  margin: 10% 0 8% 0;
}

.formLogin__paragraph {
  color: #ffffff;
  font-size: 2.2vw;
}

.formLogin__anchor {
  color: #ffffff;
}

@media only screen and (min-width: 1024px) {
  .login {
    display: flex;
    flex-direction: row;
  }

  .formLogin__Container {
    display: block;
    width: 42%;
  }

  .imgLogin__Container {
    display: block;
    width: 58%;
  }

  .imgLoginContainer__img {
    width: 100%;
    height: 100%;
  }

  .formLogin {
    width: 100%;
  }

  .formLogin__h1 {
    font-size: 4vw;
  }

  .formLogin__paragraph {
    font-size: 1.5vw;
  }
}
.menu {
  position: relative;
  position: fixed;
  z-index: 100;
  height: 109px;
  width: 100%;
  top: calc(100vh - 109px);
  background-color: #231f20;
}
.menu .menu__container {
  display: flex;
  flex-direction: column-reverse;
  height: inherit;
}
.menu .menu__container .btnCloseMenu {
  display: none;
}
.menu .menu__container .logoTz {
  display: none;
}
.menu .menu__container .letterLogo {
  display: flex;
  align-self: center;
  position: relative;
  overflow: hidden;
  width: 137px;
  height: 50%;
}
.menu .menu__container .letterLogo .letterLogo__img {
  position: absolute;
  bottom: -20px;
  width: 100%;
  height: 150%;
}
.menu .menu__container .nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
}
.menu .menu__container .nav li {
  display: flex;
  justify-content: center;
  width: 30%;
  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  font-weight: lighter;
  letter-spacing: 0.2px;
  color: #DDE2FF;
  padding-bottom: 3%;
}
.menu .menu__container .nav li img {
  width: 16px;
}
.menu .menu__container .nav li a {
  display: none;
}
.menu .menu__container .nav .nav__li1 {
  width: 70%;
  display: flex;
  align-items: center;
  background: rgba(221, 226, 255, 0.205);
}
.menu .menu__container .nav .nav__li1 a {
  display: block;
}
.menu .menu__container .nav .nav__li1 img {
  margin-right: 4%;
}

/*
* since 499px the menu must be vertical
*/
@media screen and (min-width: 499px) {
  .menu {
    top: 0;
    left: -275px;
    width: 275px;
    height: 100vh;
    padding-top: 2%;
    transition-duration: 1s;
  }
  .menu .menu__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 42px 0;
  }
  .menu .menu__container .btnCloseMenu {
    display: block;
    position: absolute;
    top: 4%;
    right: 8%;
    width: 15px;
  }
  .menu .menu__container .logoTz {
    display: block;
    height: 120px;
    width: 120px;
    align-self: center;
    margin-bottom: 14px;
  }
  .menu .menu__container .logoTz .logoTz__img {
    width: 100%;
    height: 100%;
  }
  .menu .menu__container .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 270px;
    margin-bottom: 85px;
  }
  .menu .menu__container .nav li:hover {
    background: rgba(221, 226, 255, 0.205);
  }
  .menu .menu__container .nav li {
    width: inherit;
    height: 59px;
    justify-content: start;
    align-items: center;
    padding-left: 35px;
  }
  .menu .menu__container .nav li img {
    margin-right: 6%;
  }
  .menu .menu__container .nav li .nav__li1 img {
    margin-right: 6%;
  }
  .menu .menu__container .nav li a {
    display: block;
  }
  .menu .menu__container .nav .nav__li1 {
    width: 100%;
    display: flex;
    align-items: center;
    background: rgba(221, 226, 255, 0.205);
  }
  .menu .menu__container .letterLogo {
    width: 163px;
    height: 87px;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    left: 0;
  }
  .menu .menu__container .btnCloseMenu {
    display: none;
  }
}
/*
* .progressStatusBar since tablet
*/
.progressStatusBar {
  display: none;
}

/*
* .userInfo > div  share link only desktop
*/
.userInfo__propertyLink {
  display: none;
}

.dashboard {
  width: 100vw;
  min-width: 290px;
  background-color: #E5E5E5;
  height: auto;
}

.btnOpenMenu {
  display: none;
}

.dash__container {
  width: 100vw;
  min-width: 290px;
  max-width: 1500px;
  padding-top: 50px;
  padding-bottom: 120px;
  height: auto;
  background-color: #E5E5E5;
}

.userInfo {
  display: flex;
}

.userInfo h1 {
  width: 80%;
  margin: 0 auto;
  font-family: "Mulish", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: #252733;
}

.blackboard {
  width: 100%;
  border: 1px solid #d0d0d3;
  border-radius: 0.5rem;
  background-color: #FFFFFF;
}

.progressStatusBarCell {
  width: 90%;
  max-width: 450px;
  height: 23px;
  margin: 40px auto;
  margin-bottom: 25px;
  border-radius: 8px;
  border: 1px solid #d0d0d3;
}

.progressStatusBarCell__status {
  height: 21px;
  width: 70%;
  margin: 0 15%;
  border-left: 1px solid #d0d0d3;
  border-right: 1px solid #d0d0d3;
  border-radius: 8px;
  color: #9f9376;
  text-align: center;
  font-family: "Mulish", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  background-color: #f3ceca;
}

.btnsChangeViewsToCell {
  position: relative;
  display: flex;
  top: -3px;
  justify-content: space-between;
  background: #FFFFFF;
  border-bottom: 1px solid #d0d0d3;
}

.btnsChangeViews {
  height: 28px;
  width: 115px;
  padding: 20px;
  border: none;
  border-radius: 1px;
  background-color: #CAB98E;
}

.hideBtn {
  opacity: 50%;
}

@media screen and (min-width: 499px) {
  .btnOpenMenu {
    display: block;
    position: absolute;
    top: 33px;
    left: 20px;
    width: 50px;
  }

  .dash__container {
    padding-bottom: 70px;
  }

  .userInfo h1 {
    text-align: center;
  }
}
@media screen and (min-width: 767px) {
  .blackboard {
    width: 93%;
    margin: 0 auto;
  }

  .progressStatusBarCell {
    display: none;
  }

  .progressStatusBar {
    display: block;
    display: flex;
    flex-direction: row;
    width: 96%;
    margin: 15px auto;
    text-align: center;
  }

  .progressStatusBar > div {
    width: 38%;
    position: relative;
    z-index: 100;
  }

  .progressStatusBar div:nth-child(4) {
    width: 15%;
    left: -13px;
  }

  .progressStatusBar div:nth-child(2) {
    right: -10px;
    z-index: 2;
  }

  .progressStatusBar div:nth-child(1) {
    right: -18px;
    z-index: 1;
  }

  .progressStatusBar > div > span {
    color: #9FA2B4;
    font-size: 1.9rem;
    display: block;
  }

  .progressStatusBar > div > div {
    height: 25px;
    border-radius: 8px;
    border: 1px solid #d0d0d3;
    background-color: #d5e4e4;
  }

  .btnsChangeViewsToCell {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .btnOpenMenu {
    display: none;
  }

  .dash__container {
    padding-left: 275px;
  }

  .blackboard {
    width: 98%;
    margin: 0 auto;
    overflow-x: hidden;
  }

  .userInfo {
    margin: 0 13px;
    display: flex;
    flex-direction: column;
  }

  .userInfo h1 {
    text-align: initial;
    width: 100%;
    margin-bottom: 12px;
  }

  .userInfo__propertyLink {
    display: block;
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    font-weight: bold;
    color: #6c6d70;
  }

  .userInfo__propertyLink div {
    width: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 6px;
  }

  .userInfo__propertyLink div img {
    width: 13.7px;
    height: 15.44px;
  }

  .progressStatusBar {
    width: 100%;
  }
}
.prepaContainer {
  position: relative;
  padding: 60px 5rem;
  height: auto;
  min-width: 300px;
  font-size: 1.8rem;
  line-height: 4.4rem;
}

.prepaDescription {
  display: flex;
  flex-direction: column;
}

.prepaImage {
  max-width: 500px;
  margin: auto;
}

.prepaImage img {
  width: 100%;
  height: auto;
}

.prepaDescription h2 {
  margin: 30px 0;
  font-size: 2.4rem;
  font-weight: bold;
  color: black;
}

li {
  font-weight: bold;
}

li span {
  font-weight: 400;
}

@media screen and (min-width: 499px) {
  .prepaContainer {
    padding: 80px 4rem;
  }
}
@media screen and (min-width: 767px) {
  .prepaContainer {
    padding: 80px 9rem;
  }
}
@media screen and (min-width: 1024px) {
  .prepaContainer {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 0;
    padding: 3rem 0 4.5rem 3rem;
  }

  .prepaDescription h2 {
    font-size: 3.6rem;
  }

  .prepaDescription {
    width: 50%;
  }

  .prepaImage {
    margin: auto 0;
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .prepaDescription {
    width: 60%;
  }

  .prepaImage {
    width: 40%;
  }
}
.promoContainer {
  position: relative;
  padding: 60px 5rem;
  height: auto;
  min-width: 300px;
  font-size: 1.8rem;
  line-height: 4.4rem;
}

.promoDescription {
  display: flex;
  flex-direction: column;
}

.promoImage {
  max-width: 500px;
  margin: auto;
}

.promoImage img {
  width: 100%;
  height: auto;
}

.promoDescription h2 {
  margin: 30px 0;
  font-size: 2.4rem;
  font-weight: bold;
  color: black;
}

li {
  font-weight: bold;
}

li span {
  font-weight: 400;
}

@media screen and (min-width: 499px) {
  .promoContainer {
    padding: 80px 4rem;
  }
}
@media screen and (min-width: 767px) {
  .promoContainer {
    padding: 80px 9rem;
  }
}
@media screen and (min-width: 1024px) {
  .promoContainer {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 0;
    padding: 3rem 0 4.5rem 3rem;
  }

  .promoDescription h2 {
    font-size: 3.6rem;
  }

  .promoDescription {
    width: 50%;
  }

  .promoImage {
    margin: auto 0;
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .promoDescription {
    width: 60%;
  }

  .promoImage {
    width: 40%;
  }
}
.tramiteContainer {
  position: relative;
  padding: 60px 5rem;
  height: auto;
  min-width: 300px;
  font-size: 1.8rem;
  line-height: 4.4rem;
}

.tramiteDescription {
  display: flex;
  flex-direction: column;
}

.tramiteImage {
  max-width: 500px;
  margin: auto;
}

.tramiteImage img {
  width: 100%;
  height: auto;
}

.tramiteDescription h2 {
  margin: 30px 0;
  font-size: 2.4rem;
  font-weight: bold;
  color: black;
}

li {
  font-weight: bold;
}

li span {
  font-weight: 400;
}

@media screen and (min-width: 499px) {
  .tramiteContainer {
    padding: 80px 4rem;
  }
}
@media screen and (min-width: 767px) {
  .tramiteContainer {
    padding: 80px 9rem;
  }
}
@media screen and (min-width: 1024px) {
  .tramiteContainer {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 0;
    padding: 3rem 0 4.5rem 3rem;
  }

  .tramiteDescription h2 {
    font-size: 3.6rem;
  }

  .tramiteDescription {
    width: 50%;
  }

  .tramiteImage {
    margin: auto 0;
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .tramiteDescription {
    width: 60%;
  }

  .tramiteImage {
    width: 40%;
  }
}
.escrituraContainer {
  position: relative;
  padding: 60px 5rem;
  height: auto;
  min-width: 300px;
  font-size: 1.8rem;
  line-height: 4.4rem;
}

.escrituraDescription {
  display: flex;
  flex-direction: column;
}

.escriImage {
  max-width: 500px;
  margin: auto;
}

.escriImage img {
  width: 100%;
  height: 100%;
}

.escrituraDescription h2 {
  text-align: center;
  margin: 30px 0;
  font-weight: bold;
}

li {
  font-weight: bold;
}

li span {
  font-weight: 400;
}

@media screen and (min-width: 499px) {
  .escrituraContainer {
    padding: 80px 4rem;
  }
}
@media screen and (min-width: 767px) {
  .escrituraContainer {
    padding: 80px 9rem;
  }
}
@media screen and (min-width: 1024px) {
  .escrituraContainer {
    display: flex;
    flex-direction: row-reverse;
    padding: 0 0;
    padding: 3rem 0 4.5rem 3rem;
  }

  .escrituraDescription h2 {
    font-size: 3.6rem;
  }

  .escrituraDescription {
    width: 50%;
  }

  .escriImage {
    margin: auto 0;
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .escrituraDescription {
    width: 60%;
  }

  .escriImage {
    width: 40%;
  }
}
/*
* font to html all document: font-family: 'Lato', sans-serif;
* font to headlines and menu: font-family: 'Mulish', sans-serif;
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

body {
  background-color: black;
}

.is__active {
  left: 0;
  transition-duration: 1s;
}

/*# sourceMappingURL=styles.css.map */
