
.modal-overlay {
    position: fixed;
    top:0;
    display:grid;
    place-items: center;
    z-index: 200;
    min-width: 290px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(20, 19, 20, 0.5);
    visibility: hidden;
    .modal-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        height: 50%;
        padding: 2rem;
        border-radius: 5px;
        background: #FFFFFF;
        input {
            height: 60%;
            width: 95%;
            border: 1px solid rgba(223, 224, 235, 1);
            border-radius: 8px;
            padding: 2%;
            }
            h3 {
                font-size: 2rem;
            }
            div {
                width: 100%;
                display: flex;
                justify-content: center;
                button {
                    width: 86px;
                    height: 40px;
                    margin: 2%;
                    border-radius: 5px;
                }
                :nth-child(1) {
                    background-color: white;
                    border: .5px solid rgba(35, 31, 32, 1);
                }
                :nth-child(2) {
                    color:white;
                    background-color: rgb(14, 15, 15);
                }
                }
    }

}
