.escrituraContainer {
    position: relative;
    padding: 60px 5rem;
    height: auto;
    min-width: 300px;
    font-size: 1.8rem;
    line-height: 4.4rem;
    //scroll-snap-align: center;    //
    //background-color: rgb(153, 211, 208);

}
.escrituraDescription {
    display: flex;
    flex-direction: column;
}
.escriImage {
    max-width: 500px;
    margin:auto;
}
.escriImage img {
    width: 100%;
    height: 100%;
}
.escrituraDescription h2{
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
}
li {
    font-weight: bold;
}
li span {
    font-weight: 400;
}
@media screen and(min-width:499px) {
    .escrituraContainer {
        padding: 80px 4rem;
    }
}
@media screen and(min-width:767px) {
    .escrituraContainer {
        padding: 80px 9rem;
    }
}
@media screen and(min-width:1024px) {
    .escrituraContainer  {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 0;
        padding: 3rem 0 4.5rem 3rem ;
    }
    .escrituraDescription h2 {
        font-size: 3.6rem;
    }
    .escrituraDescription {
        width: 50%;
        //background-color: pink;
    }
    .escriImage {
        // background-color: lightblue;
        //max-width: 500px;
        margin: auto 0;
        width: 50%;
    }

}
@media screen and(min-width:1200px) {
    .escrituraDescription {
        width: 60%;
    }
    .escriImage {
        width: 40%;
    }
}

